.about{
    display: flex;
    flex-flow: row;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    direction: rtl;
    padding: 10px;
}

.pic{
    object-fit: cover;
}

@media (max-width: 900px) {
    .about{
        display: flex;
        flex-flow:column;
        flex-direction:column;
    }
    .pic{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .text{
        margin: 20px;
    }
}