.Toolbar {
    height: 50px;
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    direction: rtl;
}

.Toolbar nav {
    height: 100%;
}

.dropIcon {
    width: 40px;
    cursor: pointer;
}

@media (max-width:900px) {
    .showNav {
        display: none;
    }
}

@media (min-width: 900px) {
    .dropIcon {
        display: none;
    }
}