.SideDrawer{
    height: 100%;
    width: 280px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

@media(min-width:900px){
    .SideDrawer{
        display:none;
    }
}
.Open{
    transform: translateX(0)
}
.Close{
    transform: translateX(100%)
}
