.MenuItem{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box
}
.MenuItem a{
    color: #000;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active{
    cursor: pointer;
    color: rgb(247, 140, 1);
}

@media(max-width:900px){
    .MenuItem{
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;

    }
    .MenuItem a{
        width: 100%;
        padding-right: 0;
        display: block;
    }
}
